.home-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    min-height: 80vh;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
}

.homemax-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 80px;
    min-height: 80vh;
    background: #f5f7fa;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
    width: 100%;
    min-width: 1200px;
}

/* LEFT TEXT */
.text-section {
    width: 50%;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.2s;
}

.text-section h1 {
    font-size: 48px;
    font-weight: bold;
    color: #1e293b;
}

.text-section h1 span {
    color: #6366f1;
}

.text-section p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #475569;
    max-width: 450px;
}

/* RIGHT IMAGE */
.img-section {
    width: 50%;
    display: flex;
    justify-content: center;

    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.4s;
}

.img-section img {
    width: 100%;
    max-width: 550px;
    transform: scale(0.9);
    animation: popIn 1s ease forwards;
    animation-delay: 0.7s;
}

/* ANIMATIONS */
@keyframes slideLeft {
    0% {
        transform: translateX(-80px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(80px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        transform: scale(0.85);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}